* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('/grocery-market-system/img/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}

.logo-img {
    height: 80px;   
    width: auto;  
    transition: all 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.1);
}

.top-nav {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 5px 12px !important;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #048818e8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 1000;
}

.nav-right {
    display: flex;
    gap: 70px;
    margin: 0; 
    padding-right: 20px;      
}
.nav-right a {
    margin-left: 25px;
    text-decoration: none;
    color: #e8eee6;
    font-weight: 500;    
    transition: all 0.3s ease;
}

.nav-right a:hover {
    color: #ecf008; 
    text-shadow: 0 0 3px #a9bf04d6;
    transform: scale(1.1);
}

.hero-split {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 190px;  
    padding: 40px 0;    
    overflow: visible;
}

.hero-left {
    flex: 1;
    margin-left: 90px;  
    padding-left: 60px;
    padding-right: 900px; 
    padding-top: 70px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.hero-left h1 {
    font-size: 62px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.hero-left p {
    font-size: 17px;
    color: #555;
    margin-bottom: 35px;
    line-height: 1.6;
    font-weight: 400;
}

.btn-login {
    background: #14a350;
    color: #fff;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 999px; 
    width: 135px;    
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: #30e174;           
    transform: scale(1.05);         
    box-shadow: 0 6px 15px rgba(69, 235, 57, 0.738);
}

.hero-right img {
    width: 55%;       
    max-width: none;    
    height: auto;       
    position: absolute; 
    top: 90px;          
    right: -20px;       
    display: block;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #07c029aa;
}

